/* #co2-levels {
  background-color: blue
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Copse', serif;
  color: #302102;
}

p {
  font-family: 'Didact Gothic', sans-serif;
  padding: 1em;
  border: 1px solid rgb(211,71,56);
}

html body {
  /* min-width: 920px;
  width: 80%;
  max-width: 1920px; */
  margin: 0 auto;
  padding: 10% 10%;
  background-color: #dce8dc;
  font-family: sans-serif;
  justify-items: center;
  
}

. {
  background-color: #adc4ad;
}


/*  
.search-box{
  width: 100%;
  position: absolute;
  display: flex;

} */
/*
.search-input{
  width: 100%;
  padding: 10px;
  border: 4px solid #111d5e;
  border-radius:10px 0 0 10px ;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: tomato;
  background: none;
}
.search-button{
 text-align: center;
height: 51px;
width: 40px;
outline: none;
cursor: pointer;
border: 4px solid #111d5e;
 border-radius: 0 10px 10px 0 ;
border-left: none;
background: none;
font-size: 20px;
border-left: 4px solid #111d5e;


}

.btn {
  border: none; /* Remove borders */
  /* color: black; /* White text */
  /* padding: 12px 16px; /* Some padding */
  /* font-size: 16px; /* Set a font size */
  /* cursor: pointer;  /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
/*
.btn:hover {
  background-color: gray;
}

.container{
  width: 35%;
  left: 40%;
  top: 40%;
  padding-bottom: 5%;
  padding-top: 1%;
  transform: translate(185%, 0%);
} */

.top-space{
  padding-bottom: 2%;
}

.carbonlvl-source{
  padding-top: 1%;
  padding-bottom: 1%;
}

.kWh-sources {
  padding-top: 1%;
  padding-bottom: 1%;
}

.consumption-sources {
  padding-top: 1%;
  padding-bottom: 1%;
}

.graph1 {
  padding-top: -1%;
}

.causes-of-carbon-emission {
  padding-top: 3%;
} 

.carbon-levels {
  padding-top: 3%;
}

.carbon-ppm {
  padding-top: 2.5%;
  padding-left: 1%;
}

.pie-caption {
  padding-top: 5%;
  padding-bottom: 1%;
}

.us-electricity-summary {
  padding-top: 4%;
  padding-bottom: 1%;
}

.impacts-of-carbon {
  padding-top: 3%;
}

.things-being-done {
  padding-top: 3%;
}

.what-we-can-do {
  padding-top: 3%;
}

.gen-by-bill {
  padding-left: 1%;
  padding-top: 2.5%;
}
